name: 'Deploy to staging'

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

jobs:
  frontend-build-and-deploy:
    name: 'Deploy (staging)'
    runs-on: ubuntu-latest

    environment:
      name: 'staging'
      url: https://test-vercel-org-stage.vercel.app

    steps:
      - name: 'Checkout'
        uses: actions/checkout@v4

      - name: 'Setup Node.js v18'
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: 'Install Vercel CLI'
        run: npm install --global vercel@latest

      - name: 'Pull Vercel Environment Information'
        run: vercel pull --environment=preview --yes --token=${{ secrets.VERCEL_TOKEN }}

      - name: 'Build project artifacts'
        run: vercel build --token=${{ secrets.VERCEL_TOKEN }}

      - name: 'Deploy project artifacts to Vercel'
        id: vercel-deploy
        run: |
          deploymentUrl=$(vercel deploy --prebuilt --archive=tgz --token=${{ secrets.VERCEL_TOKEN }})
          echo "deployment-url=$deploymentUrl" >> $GITHUB_OUTPUT

      - name: 'Assign domains'
        run: vercel alias set ${{ steps.vercel-deploy.outputs.deployment-url }} test-vercel-stage.vercel.app --token=${{ secrets.VERCEL_TOKEN }}
