name: Lint Pull Request

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

jobs:
  title:
    name: 'Validate PR title'
    runs-on: ubuntu-latest

    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  lint-code:
    name: 'Lint code (ESLint)'
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout'
        uses: actions/checkout@v4

      - name: 'Setup Node.js'
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: 'Get npm cache directory'
        uses: actions/cache@v4
        id: cache-node-modules
        with:
          path: node_modules
          key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.OS }}-node-

      - name: 'Install Dependencies'
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: npm ci

      - name: 'Run ESLint'
        run: npm run lint

  test-code:
    name: 'Test code (TypeScript)'
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout'
        uses: actions/checkout@v4

      - name: 'Setup Node.js'
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: 'Get npm cache directory'
        uses: actions/cache@v4
        id: cache-node-modules
        with:
          path: node_modules
          key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.OS }}-node-

      - name: 'Install Dependencies'
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: npm ci

      - name: 'Run TypeScript compiler'
        run: npm run test:ts

  check-translations:
    name: 'Check translations (next-i18next)'
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout'
        uses: actions/checkout@v4

      - name: 'Setup Node.js'
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: 'Install Dependencies'
        run: npm ci

      - name: 'Run generate translations'
        run: npm run generate:i18n

      - name: 'Check translations'
        run: |
          diff_locales=$(git diff ./public/locales | grep '^[+-][^+-]')          
          if [ -n "$diff_locales" ]; then
            echo "There is a difference in translations:"
            echo "$diff_locales"
            echo "::error::Translations are not synchronized. Please run 'npm run generate:i18n' command."
            exit 1
          fi
